.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(0, 145, 0, 0.301);
    margin: 0%;
}

.user-info-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}