.table-head {
    display: flex;
    width: 99vw;
    justify-content: center;
}

td, th {
    flex-basis: 100%;
    margin: 0%;
    align-items: center;
    border: 1px solid black;
    display: flex;
    padding: 10px;
}

.claro {
    background-color: rgba(0, 255, 0, 0.308);
}

.escuro {
    background-color: rgba(0, 94, 0, 0.356);
}

.edit {
    background-color: green;
    color: white;
    padding: 5px;
    font-size: 14px;
    border: 1px solid black;
    cursor: pointer;

}

.exclui {
    background-color: red;
    color: white;
    padding: 5px;
    font-size: 14px;
    border: 1px solid black;
    cursor: pointer;
    margin: 2px;
}

.exclui:hover {
    background-color: rgb(126, 0, 0);
}

.edit:hover {
    background-color: rgb(0, 82, 0);
}